fastapi==0.117.1
uvicorn==0.37.0
asyncpg==0.30.0
python-dotenv==1.1.1
httpx==0.28.1
pydantic==2.11.9
sentence-transformers==5.1.1
numpy<2
torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
